<!DOCTYPE html>
<html>

<body>

    <h1>Dashboard</h1>
    <h2>Newseon Backend 2</h2>
    <button id="backToDashboard" type="button" onclick="window.location.href = '/dashboard';">< Back To Dashboard</button><br><br>
    <input type="checkbox" id="liveserver"> Live Server</input>

    <h2>Step 3: Articles</h2>
    <p>View/Edit pulled articles.</p>

    <textarea id="articles" style="display: block;
    overflow: auto;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;width:90vw; height:1000px;"> </textarea>

    <button id="saveArticles" type="button">Save Articles</button><br>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin=" anonymous "></script>

    <script>
    var url = "";
    $('#liveserver').change(function() {
    if (this.checked) {
        url = "https://newseon-backend-api-2.herokuapp.com/";
    } else {
        url = "";
    }
});

    var articles = <%- JSON.stringify(articles, null, 4) %>;

    $("#articles").val(JSON.stringify(articles, null, 4));


    $('#saveArticles').click(function (e) {
        var articlesSource = $("#articles").val();
        console.log(articlesSource);
        articlesSource = JSON.parse(articlesSource).articles;


        $.post(url +"/saveLocalArticles", {
                "articles": articlesSource
            },
            function (data, status) {
                console.log("Status: " + status);
            });

    });
    </script>
</body>

</html>