<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Newseon Backend</h1>
    <p>API Version <%= version %> </p>
    <button onclick="location.href='/dashboard'" type="button">
        Access Dashboard</button>
    <button onclick="location.href='/render'" type="button">
        Render for Instagram</button>
</body>

</html>