<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="js/renderInstagram.js"></script>
    <link rel="stylesheet" type="text/css" href="css/renderInstagram.css" />
    <title>Document</title>
  </head>

  <body>
    <!-- <form action="/render-image"> -->
    Image<br />
    <textarea id="image" cols="30" type="text" name="image">
https://images.unsplash.com/photo-1563191767-bf8e98bbc092?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80</textarea
    >
    <br />
    Tag<br />
    <textarea id="tag" cols="30" type="text" name="tag">POLITICS</textarea>
    <br />
    Headline<br />
    <textarea rows="2" cols="50" id="headline" type="text" name="headline">
USA vs. Huawei</textarea
    >
    <br />
    Abstract<br />
    <textarea rows="4" cols="50" id="abstract" type="text" name="abstract">
US files criminal charges against Huawei accusing the tech giant of stealing trade secrets from T-Mobile and working to violate Iran sanctions. This could further complicate the US-China trade war.</textarea
    >
    <br />
    Hashtags<br />
    <textarea rows="4" cols="50" id="hashtags" type="text" name="hashtags">
#newseonapp</textarea
    >

    <br /><br />

    <button id="render">Render Image</button>
    <p>
      Visit
      <a href="https://ingramer.com/tools/instagram-hashtag-generator/"
        >Ingrammer</a
      >
      for hashtag suggestions.
    </p>

    <p>
      Pressing the button renders the image and automatically copies the
      compiled caption to the clipboard.
    </p>
    <!-- </form> -->

    <div
      style="
    zoom: 0.35; opacity: 1;"
    >
      <div class="container">
        <div class="center">
          <div class="content">
            <div class="logo-img">
              <img src="./images/newseon-logo.png" alt="" />
            </div>
            <div class="news-img">
              <img
                src="https://images.unsplash.com/photo-1563191767-bf8e98bbc092?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt=""
              />
            </div>
            <div class="news-content">
              <p class="tag"></p>
              <p class="headline"></p>
              <p class="abstract"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <textarea
      rows="15"
      cols="50"
      id="renderCaption"
      type="text"
      name="renderCaption"
      id="renderCaption"
    >
    </textarea>

    <br />
    <br />
    <div id="renderContainer"></div>

    <br />
  </body>
</html>
